// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;


// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


.range-slider {
  margin: 60px 0 0 0;
}


// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2%;
  row-gap: 1em;
  align-items: center;
  @include from(l){
    grid-template-columns: auto 1fr auto auto;
  }
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  //width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block !important;
  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }

  // Focus state
  &:focus {

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
      0 0 0 6px $teal;
    }
  }
}


// Range Label
.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


// Firefox Overrides
::-moz-range-track {
  background: $range-track-color;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
.range-lavel:after {
  display: none;
}
.form-upload{
  margin-top: 4em;
  &__row{
    margin-bottom: 1.5em;
    @include from(m) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5%;
    }
  }
  &__group{
    @include to(m) {
      margin-bottom: 1.5em;
    }
  }
  input{
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    transition: all .3s ease-in-out;
    &:focus{
      border-color: $teal;
    }
  }
  button{
    height: 4em !important;
    width: 10em !important;
    position: relative;
  }
  button img{
    position: absolute;
    height: 80%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.journal-container{
  @include from(m){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 1.5em;
  }
  @include from(l){
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 3em;

  }
  &__item{
    margin-bottom: 1em;
    cursor: pointer;
    @include from(m){
      margin-bottom: 0;
    }
    img{
      aspect-ratio: 16/9;
    }
  }

}
input[readonly]{
  pointer-events: none;
  //cursor: not-allowed;
}

.Journal-qualy{
  .range-slider {
    width: $range-width;
    column-gap: .5em;
    grid-template-columns: auto 1fr auto auto;
  }
  .range-slider__button{
    width: 6em;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    &:hover{
      background: black;
      //color: $shade-0;
    }
  }
}
.range-slider__button{
  width: 7em;
  height: 2.4em;
  //line-height: 2.3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  img{
    //opacity: .3;
    width: auto;
    height: 80%;
    margin: 0 auto;
  }
}
